.main-promo {
  background-image: url("../img/triangle.svg"), url("../img/back-mobile@1.jpg");
  background-size: 100% auto, cover;
  background-position: left 0 bottom 0;
  background-color: $error-image-color;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding: 90px 0 85px;
  height: 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/triangle-mobile.svg"), url("../img/back-mobile@2x.jpg");
    background-size: 100% auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/triangle-tablet.svg"), url("../img/back-tablet.jpg");
    height: 518px;
    padding: 77px 0 91px;
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-tablet.svg"), url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/triangle-desktop.svg"), url("../img/back-desktop@1.jpg");
    background-size: 1200px auto;
    object-fit: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-desktop.svg"), url("../img/back-desktop@2x.jpg");
    }
  }
}

.main-promo__image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 461px;
  }

  @media (min-width: $desktop-width) {
    width: 459px;
  }
}
