.search__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 38px 18px 49px;

  @media (min-width: $tablet-width) {
    max-width: 458px;
    padding: 60px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0 66px;
  }
}

.search__title {
  @include big-title;
  margin: 0;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    @include large-title;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

.search__description {
  @include text-small;
  margin: 0;
  padding-bottom: 31px;

  @media (min-width: $mobile-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 44px;
  }
}
