.service {
  background-color: $main-color-second;
  color: $main-color-text-second
}

.service__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 33px;
  margin: 0;
  padding: 31px 18px 46px 0;
  text-align: start;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    grid-column: 1/4;
    text-align: center;
    padding: 0;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}

.service__item {
  position: relative;
  padding-left: 65px;

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -8px;
    left: 18px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--motels::after {
    background-image: url("../img/motels.svg");
  }

  &--food::after {
    background-image: url("../img/food.svg");
  }

  &--souvenirs::after {
    background-image: url("../img/souvenirs.svg");
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    min-width: 256px;
    box-sizing: border-box;
    padding: 146px 33px 61px;
    margin: 0;

    &::after {
      width: 80px;
      height: 75px;
      top: 58px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
    padding: 169px 50px 44px;

    &::after {
      top: 67px;
      left: 198px;
    }
  }
}

.service__title {
  @include title;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    @include big-title;
    margin-top: 10px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}

.service__description {
  color: #333333;
  @media (max-width: $mobile-width) {
    br {
      display: none;
    }
  }
}

.service__item--food .service__description {
  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 290px;
  }
}

.service__item--souvenirs {
  @media (min-width: $tablet-width) {
    &::after {
      width: 80px;
      height: 75px;
      top: 63px;
      left: 139px;
      transform: translateX(-50%);
    }

    .service__title {
      margin-top: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 67px;
      left: 206px;
      transform: translateX(-50%);
    }

    .service__title {
      margin-top: 0;
    }
  }
}
