.button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: $main-color;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 16px;
}
