.inner-promo {
  background-image: url("../img/triangle-mobile.svg"), url("../img/back-mobile@1.jpg");
  background-size: 100% auto, cover;
  background-position: left 0 bottom 0;
  background-color: $error-image-color;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  height: 158px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/triangle-mobile.svg"), url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/triangle-tablet.svg"), url("../img/back-tablet@1.jpg");
    padding: 95px 155px 117px;
    height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-tablet.svg"), url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/triangle-desktop.svg"), url("../img/back-desktop@1.jpg");
    padding: 101px 370px 120px;
    height: 301px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-desktop.svg"), url("../img/back-desktop@2x.jpg");
    }
  }
}

.inner-promo__background-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 52px 0 67px;

  @media (min-width: $tablet-width) {
    width: 457px;
    padding: 0;
  }
}
