.main-nav {
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: block;
  width: 70px;
  height: 51px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: $main-color;
  box-shadow: 0 9px 0 0 $main-color, 0 18px 0 0 $main-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade($main-color, 30%);
  box-shadow:
    0 9px 0 0 fade($main-color, 30%),
    0 18px 0 0 fade($main-color, 30%);
}

.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 0.6;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;

    &:active {
      display: block;
    }
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .main-nav--opened .main-nav__item:last-child {
    position: relative;
    border-bottom: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 7px;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle {
  top: 8px;
  right: auto;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 28px;
    height: 4px;
    background-color: $main-color-second;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade($main-color-second, 60%);
  }

  &:active::before,
  &:active::after {
    background-color: fade($main-color-second, 30%);
  }
}

.main-nav__list {
  @include reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.main-nav__item {
  background-color: $main-color;
  border-top: 1px solid #01010133;
  border-bottom: 1px solid #ffffff33;

  &:hover {
    background-color: $color-hover;
  }

  &:active {
    background-color: $color-active;
  }

  @media (min-width: $tablet-width) {
    background-color: $main-color-second;
    min-width: 153px;
    box-shadow: none;
    border: none;

    &:hover {
      background-color: $main-color-second;
    }

    &:active {
      background-color: $main-color-second;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 240px;
  }
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__item:nth-child(4n+3) {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 20%;
  }
}

.main-nav__link {
  @include title;
  font-weight: 700;
  color: $main-color-second;
  display: block;
  width: 100%;
  padding: 17px 0 12px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include text-small;
    color: $main-color-text-second;
    padding: 18px 0 17px;

    &:hover {
      color: $main-color;
    }

    &:active {
      color: $main-color-text-second;
      opacity: 0.3;
    }
  }
}

.main-nav__link--active {
  @media (min-width: $tablet-width) {
    color: $color-current;
  }
}
