.page {
  height: 100%;
  background-color: #f2f2f2;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;
  background-color: #ffffff;
}

.page__wrapper {
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    box-shadow: 0 5px 15px #00010133;
  }
}
