.search__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 38px 18px 49px;

  @media (min-width: $tablet-width) {
    max-width: 458px;
    padding: 60px 20px 55px;
  }
}

.search__title {
  @include big-title;
  margin: 0;
}
