.section-page__title {
  @include title;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 32px 0 35px;
}

.section-page__description {
  @include text-small;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $color-small-text;
  margin: 0;
  padding: 0 0 16px;
}
