.section-page {
  display: flex;
  flex-direction: column;
  padding: 32px 30px 35px;

  @media (min-width: $tablet-width) {
    padding: 48px 124px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 358px 44px;
  }
}

.section-page__title {
  @include title;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 35px;
  margin: 0;
  color: #000000;

  @media (min-width: $tablet-width) {
    @include big-title;
    padding-bottom: 30px;
  }
}

.section-page__title--large {
  @media (min-width: $desktop-width) {
    @include large-title;
  }
}

.section-page__description {
  @include text-small;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
