.service {
  background-color: $main-color-second;
  color: $main-color-text-second
}

.advantages__service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 23px 18px 46px 65px;
  text-align: start;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    grid-column: 1/4;
    text-align: center;
    padding: 0;
  }
}

.advantages__element {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 60px 33px;
  }
}
