.main-footer__social {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 6px;
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;

  &:active {
    opacity: 0.3;
  }
}
