.video {
  display: flex;
  flex-direction: column;
  padding: 17px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 199px 84px;
  }
}

.video__title {
  @include title;
  font-weight: 700;
  margin: 0;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__description {
  @include text-small;
  margin: 0 auto;
  padding-bottom: 38px;

  @media (max-width: $mobile-width) {
    max-width: 250px;
  }

  @media (min-width: $tablet-width) {
    max-width: 445px;
  }
}

.videoplayer {
  display: block;
  background-color: $error-image-color;
  width: 100%;
  cursor: pointer;
}
