.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  color:#000000;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  margin: 0;
  background-color: $background-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  font-family: inherit;
}
