// Цвета
$main-color: #81B3D2;
$color-hover: #669EC0;
$color-active: #5496BD;
$color-disabled: #E5E5E5;
$color-current: #766357;
$color-title: #000000;
$color-text-dark: #333333;
$color-text-light: #ffffff;
$color-form: #F2F2F2;
$color-form-hover: #E5E5E5;
$color-form-active: #D5D5D5;
$background-color: #ffffff;

// Шрифт
$main-font: "PT Sans", "Arial", sans-serif;

// Размеры viewport
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
