.modal {
  text-align: center;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background: #00000030;
}

.modal--close {
  display: none;
}

.modal__container {
  margin: auto;
  background-color: $main-color-second;
  box-shadow: 0 7px 15px #00010115;
}

.modal__title {
  margin: 0;
  margin-bottom: 35px;
  color: $main-color-text-second;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
  }
}

.modal__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 28px;
}

.modal__error {
  padding: 50px 46px;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 400px;
  }

  @media (min-width: $desktop-width) {
    top: 244px;
  }
}

.modal__error-button {
  padding: 18px 64px 14px 63px;
}

.modal__sent {
  max-width: 320px;

  @media (min-width: $tablet-width) {
    max-width: 640px;
  }
}

.modal__text {
  padding: 39px 38px 30px;
}

.modal__button-block {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: $color-form;
  padding: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }
}

.modal__sent-button {
  padding: 18px 61px 14px;
}
